* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'iconfont';  /* project id 535354 */
    src: url('//at.alicdn.com/t/font_535354_h493wew7zes46lxr.eot');
    src: url('//at.alicdn.com/t/font_535354_h493wew7zes46lxr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_535354_h493wew7zes46lxr.woff') format('woff'),
    url('//at.alicdn.com/t/font_535354_h493wew7zes46lxr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_535354_h493wew7zes46lxr.svg#iconfont') format('svg');
}
.icon {
    display: inline-block;
    font-family: 'iconfont';
    font-style: normal;
}
.icon-user::after {
    content: '\e617';
}
.icon-login::after {
    content: '\e619';
}
.icon-pwd::after {
    content: '\e618';
}
.icon-close::after {
    content: '\e613';
}
html, body, main{
    height: 100%;
}

body {
    font: 14px/1.5 Arial;
}

a {
    text-decoration: none;
    color: #444;
}

ul,li{
    list-style: none;
}


.header {
    position: absolute;
    top: 10px;
    width: 100%;
    right: 0;
    overflow: hidden;
    z-index: 1;
}
.header > a {
    float: right;
    margin-right: 20px;
    font-size: 16px;
}
.header > a i {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #000 url("bg.jpg") center/cover no-repeat;
}

.container .modal {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px;
    width: 400px;
    min-height: 300px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
}
.container .modal.modal-login .login,
.container .modal.modal-register .register {
    transform: rotateY(0deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 1s;
}
.container .modal.modal-login .register,
.container .modal.modal-register .login {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 1s;
}

.show {
    display: flex !important;
}

.container .modal .close {
    font-size: 18px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.container .modal .tabs {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 60%;
}
.container .modal .tabs > a {
    padding: 5px;
    border-bottom: 2px solid transparent;
    font-size: 16px;
}
.container .modal .tabs a.active  {
    border-bottom: 2px solid #444;
}
.container .modal .content {
    position: absolute;
    top: 80px;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container .modal .content {
    width: 100%;
}
.container .modal .content .error-msg {
    margin: 0 auto;
    padding: 4px 0;
    width: 70%;
    color: red;
    font-size: 14px;
    text-align: center;
}
.container .modal .content .input-field {
    position: relative;
    margin-bottom: 10px;
    width: 70%;
}
.container .modal .content .input-field i {
    position: absolute;
    top: 50%;
    height: 25px;
    margin: 0 10px;
    font-size: 18px;
    transform: translateY(-50%);
}
.container .modal .content  input {
    width: 100%;
    border: 1px solid #eee;
    padding: 10px 10px 10px 35px;
    outline: none;
}
.container .modal .content > button {
    padding: 4px 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #aaa;
    cursor: pointer;
    border: none;
    background-color: #fff;
    color: #000;
}








